<div class="holder">
    <div class="container-flex">
        <div class="row">
            <div class="col-md-8">
                <div class="home-header-title">
                    <h1 style="margin-bottom:-0.5em">It is time to </h1>
                    <span class="typing-element"></span>
                </div>
            </div>
            <div class="col-md-4 login ">
                <div class="login-container ">
                    <h1>Login</h1>
                    <div class="example-form" [formGroup]="loginForm">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="" formControlName="email">
                            <mat-error *ngIf="isEmailInvalid()">Email ID not valid</mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="" type="password" formControlName="password">
                            <mat-error *ngIf="isPasswordValid()">Password not valid</mat-error>
                        </mat-form-field>

                        <button mat-flat-button color="primary" [disabled]="loginForm.invalid" (click)="login()">Login <mat-icon
                                aria-hidden="false" style="margin-left: 0.2em" aria-label="Example home icon">
                                arrow_right_alt</mat-icon>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>