<span class="tilt">
    <h6>Add Product</h6>
  </span>
    
  <div class="container" style="margin-top: 3em">
      <div class="row">
          <div class="col">
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Item</mat-label>
                <mat-select  [(ngModel)]="formMaterial.type">
                  <mat-option *ngFor="let l of $lists|async" [value]="l">{{l}}</mat-option>
                </mat-select>
              </mat-form-field>
          </div>
      </div>
      <div class="row">
          <div class="col">

              <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
                <mat-label>Quantity</mat-label>
                <input matInput placeholder="Quantity" type="number" [(ngModel)]="formMaterial.quantity">
              </mat-form-field>
          </div>
      </div>
      <div class="row">
          <div class="col">
            <button  class="button btn" (click)='add(formMaterial.type, formMaterial.quantity)' >Submit</button>
          </div>
      </div>
    </div>
    
    
