<div class="container" style="min-height: 2.5em"></div>
<mat-toolbar>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <ul>
                    <li (click)="changeTab('ADD_PRODUCT')">Add Product</li>
                    <li style="margin-left: 2em" (click)="changeTab('SHOW_MAP')">Map</li>
                    <li style="margin-left: 2em" (click)="changeTab('ADD_ITEMS')">Inventory</li>
                    <li style="margin-left: 2em" (click)="changeTab('ORDER')">Track Process</li>
                    <li style="margin-left: 2em" (click)="changeTab('ACTIVE_ORDER')">General Request</li>
                </ul>
            </div>
            <div class="col-md-3" style="text-align: right;padding-right: 4em">
                <h3 (click)="changeTab('DASHBOARD')">TekSystemNGO</h3>
            </div>
        </div>
    </div>
</mat-toolbar>
<div class="container-fluid">
    <div class="row" style="height: 80vh!important">
        <div class="col-md-4">
            <app-alert></app-alert>
        </div>
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>