<span class="tilt">
    <h6>Inventory</h6>
  </span>
    

<div id="food"></div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Food</h5>
    <p class="card-text">{{inventory.food}} Kg</p>
  </div>
</div>
<div id= "water" class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Water</h5>
    <p class="card-text">{{inventory.water}} Lt</p>
  </div>
</div>
<div id= "meds" class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Medicines</h5>
    <p class="card-text">{{inventory.first_aid}}</p>
  </div>
</div>
<div id= "batteries" class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Flashlights and batteries</h5>
    <p class="card-text">{{inventory.flashlight}}</p>
  </div>
</div>
<div id= "others" class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Other relief materials</h5>
    <p class="card-text">{{inventory.others}}</p>
  </div>
</div>

<button class="add-button" mat-button [routerLink]="['/add']">Add Item</button>

